/*
 |--------------------------------------------------------------------------
 | MAIN - bootstrap the css framework
 |--------------------------------------------------------------------------
 |
 | Imports all the scss files to compile the css framework and configuration
 |
 */

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import the app global vars
@import './vars.scss';

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
