/**
 * Main css file
 */

/**
 * Import the scss bootstrap file
 * Load the global vars and the css framework
 */
@import './scss/bootstrap.scss';

/**
 * Import global scss
 */
@import './scss/globals.scss';

/**
 * Import css for specific site functionalitys
 */
@import './scss/features/search-field.scss';

/**
 * Import page specific scss
 * These scss wil be transpilled in the global css file
 * Il you want to load it only for specific page, see the docs
 */

// Homepage
@import './scss/pages/homepage.scss';

// Login
@import './scss/pages/login.scss';