/**
 * Global app styles
 */

// A little class for little margins (used for the top breadcrum)
.breadcrum-spacing {
    margin: 10px auto;
}

// Display a cursor pointer
.cursor-pointer {
    cursor: pointer;
}

// For borders in the big screen page
.has-border-right {
    border-right: 1px solid $grey-darker;
}
