/**
 * Global app styles
 */

// A little class for little margins (used for the top breadcrum)
.breadcrum-spacing {
    margin: 10px auto;
}

@media screen and (max-width: $desktop) {
    .breadcrum-spacing {
        margin: 10px 24px;
    }
  }

// Display a cursor pointer
.cursor-pointer {
    cursor: pointer;
}

// For borders in the big screen page
.has-border-right {
    border-right: 1px solid $grey-darker;
}

.has-border-black {
    border: 1px solid $grey-darker;
}

.has-margin-top-10 {
    margin-top: 10px;
}
